<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EnrollmentDB" connectionString="Data Source=PC9\SQLEXPRESS;Initial Catalog=EnrollmentDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EnrollmentDBEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC9\SQLEXPRESS;initial catalog=EnrollmentDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>